header {
  height: 54vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#0000000c), to(#00000067)), url(../images/heroCar.jpg) no-repeat center center;
  background: linear-gradient(#0000000c, #00000067), url(../images/heroCar.jpg) no-repeat center center;
  background-size: cover;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#nav-logo {
  width: 70%;
  border-radius: 50%;
}

.nav-item {
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-weight: 300;
}

#nav-icons {
  list-style: none;
  margin-left: auto;
}

#nav-icons li {
  display: inline-block;
  color: #fff;
  margin-right: 1rem;
  font-size: 1.2rem;
}

#jumbo_one_text {
  position: absolute;
  top: 70%;
  left: 10%;
  -webkit-transform: translate(-20%, -70%);
          transform: translate(-20%, -70%);
}

#jumbo-one-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23vw;
}

#jumbo-one {
  height: 100%;
  width: 100%;
  position: relative;
}

#jumbo-one img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

#jumbo_one_text h3 {
  color: #ffffff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media only screen and (max-width: 1314px) and (min-width: 1161px) {
  #jumbo_one_text h3 {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 1160px) and (min-width: 816px) {
  #jumbo_one_text h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  #jumbo_one_text button {
    font-size: 0.8rem;
    width: 15vw;
  }
}

@media only screen and (max-width: 815px) and (min-width: 623px) {
  #jumbo_one_text h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  #jumbo_one_text button {
    font-size: 0.6rem;
    width: 15vw;
  }
}

@media only screen and (max-width: 622px) and (min-width: 511px) {
  #jumbo_one_text h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
  }
  #jumbo_one_text button {
    font-size: 0.6rem;
    width: 100%;
    padding: .6vw;
  }
}

@media only screen and (max-width: 510px) and (min-width: 0px) {
  #jumbo_one_text h3 {
    font-size: .9rem;
    font-weight: 700;
    line-height: 1rem;
  }
  #jumbo_one_text button {
    font-size: 0.6rem;
    width: 70%;
    padding: .6vw;
  }
}

#jumbo_one_text {
  position: absolute;
  top: 70%;
  left: 10%;
  -webkit-transform: translate(-20%, -70%);
          transform: translate(-20%, -70%);
}

#collage-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#collage-1 h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  color: #000;
  padding: 1rem;
  margin: 3vw 0 1.5vw;
}

#collage-1 h3 span {
  border-bottom: 3px solid #000;
  padding: 0 1rem;
}

#collage-1 .btn {
  width: 30%;
}

.cards-container {
  margin: 0vw 10vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px 10px;
  -ms-grid-rows: (30vw)[2];
  -ms-grid-columns: (30vw)[3];
      grid-template: repeat(2, 30vw)/repeat(3, 30vw);
}

.collage-image-wide {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-image: url("../../images/collage-S1-I1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.collage-image-wide::before {
  content: 'Self designed racing stripes';
  padding-top: 8vw;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000000e8));
  background: linear-gradient(#00000000, #000000e8);
}

.collage-image-long {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-image: url(../../images/collage-S1-I2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.collage-image-long::before {
  content: 'Barely legal tint';
  padding-top: 21vw;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000000ef));
  background: linear-gradient(#00000000, #000000ef);
}

.collage-image-reg-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-image: url(../../images/collage-S1-I3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.collage-image-reg-1::before {
  content: 'Custom gloss';
  padding-top: 8vw;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000000e8));
  background: linear-gradient(#00000000, #000000e8);
}

.collage-image-reg-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-image: url(../../images/collage-S1-I4.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.collage-image-reg-2::before {
  content: 'Body upgrades';
  padding-top: 8vw;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000000e8));
  background: linear-gradient(#00000000, #000000e8);
}

@media only screen and (max-width: 1030px) and (min-width: 781px) {
  #collage-1 h3 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 780px) and (min-width: 661px) {
  #collage-1 h3 {
    font-size: 2.3rem;
  }
  .collage-image-wide::before {
    font-size: 1rem;
  }
  .collage-image-long::before {
    font-size: 1rem;
  }
  .collage-image-reg-1::before {
    font-size: 1rem;
  }
  .collage-image-reg-2::before {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 660px) and (min-width: 572px) {
  #collage-1 h3 {
    font-size: 1.8rem;
  }
  #collage-1 .btn {
    font-size: 0.8rem;
    width: 25%;
  }
  .collage-image-wide::before {
    font-size: 1rem;
  }
  .collage-image-long::before {
    font-size: 1rem;
  }
  .collage-image-reg-1::before {
    font-size: 1rem;
  }
  .collage-image-reg-2::before {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 571px) and (min-width: 458px) {
  #collage-1 h3 {
    font-size: 1.6rem;
    padding: .5rem;
  }
  #collage-1 .btn {
    font-size: .8rem;
    width: 25%;
  }
  .collage-image-wide::before {
    font-size: .8rem;
  }
  .collage-image-long::before {
    font-size: .8rem;
  }
  .collage-image-reg-1::before {
    font-size: .8rem;
  }
  .collage-image-reg-2::before {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 457px) and (min-width: 0px) {
  #collage-1 h3 {
    font-size: 1.6rem;
    padding: .5rem;
  }
  #collage-1 h3 span {
    padding: 0rem;
  }
  #collage-1 .btn {
    font-size: .7rem;
    width: 30%;
  }
  .collage-image-wide::before {
    font-size: .6rem;
  }
  .collage-image-long::before {
    font-size: .6rem;
  }
  .collage-image-reg-1::before {
    font-size: .6rem;
  }
  .collage-image-reg-2::before {
    font-size: .6rem;
  }
}

#discover {
  width: 12vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 9;
}

#collage-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vw;
}

#collage-2 h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  color: #000;
  padding: 1rem;
  margin: 3vw 0 1.5vw;
}

#collage-2 h3 span {
  border-bottom: 3px solid #000;
  padding: 0 1rem;
}

#collage-2 .btn {
  width: 30%;
}

.cards-container2 {
  margin: 0vw 10vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px 10px;
  -ms-grid-rows: (30vw)[3];
  -ms-grid-columns: (30vw)[3];
      grid-template: repeat(3, 30vw)/repeat(3, 30vw);
}

.collage2-image-wide {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collage2-image-wide .card-img {
  height: 100%;
  width: 200vw;
  overflow: hidden;
}

.collage2-image-wide .card-img img {
  height: 100%;
  width: 100%;
}

.collage2-image-wide #card-text {
  background-color: #efefea;
  padding: 2vw 3vw;
}

.collage2-image-wide #card-text h3 {
  font-size: 1.8rem;
  text-align: start;
  padding: 0;
  margin: 2vw 0;
  color: #4BA86B;
  font-weight: 400;
}

.collage2-image-wide #card-text h4 {
  margin-bottom: 1vw;
  font-weight: 700;
  font-size: 1.3rem;
}

.collage2-image-wide #card-text h6 {
  line-height: 25px;
  margin-bottom: 1.5vw;
}

.collage2-image-wide #card-text h5 {
  text-transform: uppercase;
}

.collage2-image-wide #card-text h5 a {
  color: #4BA86B;
  text-decoration: underline;
}

.collage2-image-wide #card-text h5 a:hover {
  text-decoration: none;
}

.txt-ctnr {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5vw;
}

.txt-ctnr .ttl {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0.3vw;
  font-weight: 600;
}

.txt-ctnr .description {
  color: #4BA86B;
}

.collage2-image-long {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  background-image: url(../../images/collage-S2-I2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.collage2-image-long::before {
  content: '';
  padding-top: 8vw;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000002), to(#000000e3));
  background: linear-gradient(#00000002, #000000e3);
}

.collage2-image-reg-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-image: url(../../images/collage-S2-I3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.collage2-image-reg-1::before {
  content: '';
  padding-top: 8vw;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000002), to(#000000e1));
  background: linear-gradient(#00000002, #000000e1);
}

.collage2-image-reg-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-image: url(../../images/collage-S2-I4.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.collage2-image-reg-2::before {
  content: '';
  padding-top: 8vw;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000002), to(#000000e1));
  background: linear-gradient(#00000002, #000000e1);
}

.collage2-image-reg-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background-image: url(../../images/collage-S2-I5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.collage2-image-reg-5::before {
  content: '';
  padding-top: 8vw;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000002), to(#000000e1));
  background: linear-gradient(#00000002, #000000e1);
}

.collage2-image-reg-6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background-image: url(../../images/collage-S2-I6.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.collage2-image-reg-6::before {
  content: '';
  padding-top: 8vw;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000002), to(#000000e1));
  background: linear-gradient(#00000002, #000000e1);
}

@media only screen and (max-width: 1030px) and (min-width: 781px) {
  #collage-2 h3 {
    font-size: 2.5rem;
  }
  #card-text {
    padding: 0 3vw !important;
  }
  #card-text h3 {
    font-size: 1.4rem !important;
    margin: 2vw 0;
  }
  #card-text h4 {
    margin-bottom: 1vw;
    font-size: 1rem !important;
  }
  #card-text h6 {
    margin-bottom: 1.5vw;
    font-size: 0.8rem;
    font-weight: 500;
  }
  #card-text h5 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 780px) and (min-width: 661px) {
  #collage-2 h3 {
    font-size: 2.3rem;
  }
  #card-text {
    padding: auto 3vw !important;
  }
  #card-text h3 {
    font-size: 1.2rem !important;
    margin: 1vw 0 !important;
  }
  #card-text h4 {
    margin-bottom: 1vw;
    font-size: 0.8rem !important;
  }
  #card-text h6 {
    margin-bottom: 1.5vw;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 15px !important;
  }
  #card-text h5 {
    font-size: 1rem;
  }
  .txt-ctnr {
    padding: 1.5vw;
  }
  .txt-ctnr .ttl {
    font-weight: 600;
    font-size: 0.8rem;
  }
  .txt-ctnr .description {
    color: #4BA86B;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 660px) and (min-width: 572px) {
  #collage-2 h3 {
    font-size: 1.8rem;
  }
  #collage-2 .btn {
    font-size: 0.8rem;
    width: 25%;
  }
  #card-text {
    padding: 0vw 1vw !important;
  }
  #card-text h3 {
    font-size: 1.2rem !important;
    margin: 1vw 0 !important;
  }
  #card-text h4 {
    margin-bottom: 1vw;
    font-size: 0.7rem !important;
  }
  #card-text h6 {
    margin-bottom: 0.5vw !important;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 15px !important;
  }
  #card-text h5 {
    font-size: 1rem;
  }
  #card-text h5 a {
    font-size: 0.8rem;
  }
  .txt-ctnr {
    padding: 1.5vw;
  }
  .txt-ctnr .ttl {
    font-weight: 600;
    font-size: 0.8rem;
  }
  .txt-ctnr .description {
    color: #4BA86B;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 571px) and (min-width: 458px) {
  #collage-2 h3 {
    font-size: 1.6rem;
    padding: 0.5rem;
  }
  #collage-2 .btn {
    font-size: 0.8rem;
    width: 25%;
  }
  #card-text {
    padding: 0vw 1vw !important;
  }
  #card-text h3 {
    font-size: 1rem !important;
    margin: 1vw 0 !important;
  }
  #card-text h4 {
    margin-bottom: 1vw;
    font-size: 0.6rem !important;
  }
  #card-text h6 {
    margin-bottom: 0.5vw !important;
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 15px !important;
  }
  #card-text h5 {
    font-size: 1rem;
  }
  #card-text h5 a {
    font-size: 0.8rem;
  }
  .txt-ctnr {
    padding: 1.5vw;
  }
  .txt-ctnr .ttl {
    font-weight: 600;
    font-size: 0.5rem;
  }
  .txt-ctnr .description {
    color: #4BA86B;
    font-size: 0.5rem;
  }
  .cards-container2 {
    grid-gap: 5px 5px;
    -ms-grid-rows: (40vw)[3];
    -ms-grid-columns: (30vw)[3];
        grid-template: repeat(3, 40vw)/repeat(3, 30vw);
  }
}

@media only screen and (max-width: 457px) and (min-width: 0px) {
  #collage-2 h3 {
    font-size: 1.6rem;
    padding: 0.5rem;
  }
  #collage-2 h3 span {
    padding: 0rem;
  }
  #collage-2 .btn {
    font-size: 0.7rem;
    width: 30%;
  }
  #card-text {
    padding: 0vw 1vw !important;
  }
  #card-text h3 {
    font-size: 1rem !important;
    margin: 1vw 0 !important;
  }
  #card-text h4 {
    margin-bottom: 1vw;
    font-size: 0.6rem !important;
  }
  #card-text h6 {
    margin-bottom: 0.5vw !important;
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 15px !important;
  }
  #card-text h5 {
    font-size: 1rem;
  }
  #card-text h5 a {
    font-size: 0.8rem;
  }
  .txt-ctnr {
    padding: 1.5vw;
  }
  .txt-ctnr .ttl {
    font-weight: 600;
    font-size: 0.5rem;
  }
  .txt-ctnr .description {
    color: #4BA86B;
    font-size: 0.5rem;
  }
  .cards-container2 {
    grid-gap: 5px 5px;
    -ms-grid-rows: (40vw)[3];
    -ms-grid-columns: (30vw)[3];
        grid-template: repeat(3, 40vw)/repeat(3, 30vw);
  }
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000002f), to(#00000093)), url(../../images/footer-bg-img.jpg) no-repeat center center;
  background: linear-gradient(#0000002f, #00000093), url(../../images/footer-bg-img.jpg) no-repeat center center;
  width: 100%;
  margin-top: 8vw;
}

.footer-selections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-selections-top {
  text-align: center;
  padding: 1vw 1vw 2vw;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.footer-selections-top li {
  display: inline-block;
  text-transform: uppercase;
}

.footer-selections-top li a {
  color: white;
  font-weight: 100;
}

.footer-selections-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vw 5vw 4vw;
  color: white;
}

.footer-selections-middle h5 {
  font-weight: 500;
  padding-bottom: 6px;
  border-bottom: 2px solid white;
  width: 120%;
  margin-bottom: 0.8vw;
  font-size: 1.1rem;
}

.footer-selections-middle a {
  color: white;
  font-weight: lighter;
  font-size: 0.8rem;
}

.footer-selections-middle li {
  text-transform: capitalize;
}

.footer-selections-bottom {
  margin: 0 auto;
}

.footer-selections-bottom h3 {
  color: white;
  text-align: center;
  font-size: .8rem;
  font-weight: 100;
  margin: 2vw;
}

.footer-selections-bottom ul {
  text-align: center;
}

.footer-selections-bottom li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 1vw;
}

.footer-selections-bottom li i {
  color: white;
  font-weight: 100;
  font-size: 1.5rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: #080808;
  color: #4BA86B;
  border: none;
  outline: none;
  text-transform: uppercase;
  z-index: 9;
}

#clg-btn {
  margin-top: 4vw;
  width: 10vw;
}
/*# sourceMappingURL=main.css.map */